html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}




/*---------------------------------
верхний бокс с лого и иконками
------------------------------------*/

/*----------контейнер шапки-------------*/

.header {
  min-width: 320px;
  height: 88px;
  background: #fff;
  padding: 18px 16px;
  border-bottom: 1px solid #d9fff5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 767px) {
  .header {
    padding: 18px 24px;
      }
}

/*----------иконки-------------*/

.icon {
  width: 40px;
  height: 40px;
}
.header__icon{
  margin-right: 16px;
}
.header__icon:last-child{
  margin-right: 0;
}
.header__icon_hidden {
  display: none;
}
@media (min-width: 767px) {
  .header__icon_hidden {
    display: block;
  }
}
@media (min-width: 1119px) {
  .header__icon:last-child, .header__icon:nth-last-child(2) {
    display: none;
  }
}

/*----------лого-------------*/

.logo {
  width: 96.548px;
  height: 50.815px;
}
.header__logo{
  margin-right: auto;
}

/*----------разделитель-------------*/

.divider {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #eaeaea;
}
.header__divider{
  margin-left: 4px;
  margin-right: 20px;
}
.header__divider_hidden {
  display: none;
}
@media (min-width: 767px) {
  .header__divider_hidden {
    display: block;
  }
}
@media (min-width: 1119px) {
  .header__divider:first-child{
    display: none;
  }
}/*???????????????????*/




/*--------------------------------------------
основная часть
---------------------------------------------*/
.main {
  min-width: 320px;
  min-height: 509px;
  background: #f8f8f8;
  padding-top: 24px;
}
@media (min-width: 1119px) {
  .main {
    padding-top: 42px;
  }
}

/*---------------------------------
заголовок с доп меню
---------------------------------*/

/*----------контейнер заголовка-------------*/

.heading {
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
  border-left: 3px solid #41F6D7;
  padding-left: 12px;
}
@media (min-width: 767px) {
  .heading {
    padding-left: 20px;
  }
}
@media (min-width: 1119px) {
  .heading {
    padding: 0 32px 0 28px ;
  }
}

/*----------скрытие/появление меню заголовка-------------*/
.heading__item:not(:first-child){
  display:none;
}
@media (min-width: 1119px) {
  .heading__item:not(:first-child) {
    display: block;
  }
}

/*----------заголовок-------------*/
.title {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  
 }
 .heading__item:first-child{
  margin-right: auto;
 }

/*----------ссылки/иконки меню-------------*/
.link {
  color: #1B1C21;
text-align: right;
font-family: TT Lakes;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: -0.2px;
text-decoration: none;
}
.heading__item:nth-child(even){
  margin-right: 8px;
}
.heading__item:nth-child(3){
  margin-right: 32px;
}



/*---------------------------------
навигация (slide-menu)
-----------------------------------*/

.slide-menu {
  padding: 24px 0 24px 16px;
  display: flex;
    overflow-x: scroll;
}
@media (min-width: 767px){
  .slide-menu {
    padding: 32px 0 32px 24px;
  }
}
@media (min-width: 1119px){
  .slide-menu {
    flex-wrap: wrap;
    
  }
}

.slide-menu::-webkit-scrollbar {
  display: none;
}

.slide-menu__btn {
  color: #7e7e82;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-color: transparent;
  border: none;
  white-space: nowrap;
  height: 40px;
  padding: 0 20px;
}

.slide-menu__btn_active {
    border-radius: 6px;
  border: 2px solid #b8ffec;
  background: #fff;
  
}

/*----------------------------
основной контент (текст с картинкой)
--------------------------------*/

/*----------контейнер-------------*/


@media (min-width: 767px) {
  .content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; 
  padding: 0 24px;
  column-gap: 36px;
  } 
  }
@media (min-width: 1119px) {
  .content{
    padding: 0 34px;
  }
}

/*----------текст-------------*/

.content__reading{
  padding: 0 16px;

}

.text {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
  overflow: hidden;
}
@media (min-width: 767px) {
  .text {
    line-height: 20px;
  }
}


.content__read-more {
  color: #1b1c21;
  font-family: TT Lakes;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  padding: 16px 0;
}

.content__read-more::before{
  content: url('../img/expand.svg');
  position: relative;
   top: 6px;
 }


/*----------картинка-------------*/

.content__picture{
  width: 100%;
  height: auto;

}
@media (min-width: 767px) {
  .content__picture{
  width: 50%;
  border-radius: 6px;
    }
}
